body{
    background: #ffd89b;
    /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #19547b, #ffd89b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.scrollable {
    height:500px;
    overflow-y:scroll;
    
}
#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}